.left-layer {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  top: auto;
  left: -100%;
  bottom: auto;
  right: auto;
  background: #4d606e;
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.left-layer.active {
  left: 100%;
}
.left-layer--2 {
  background: #d3d4d8;
  transition-delay: 0.5s;
}
.left-layer--3 {
  background: #d3d4d8;
  transition-delay: 0.12s;
}
.left-layer--4 {
  background: #c06c84;
  transition-delay: 0.08s;
}
/* Food */
.foodHeader {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 20px;
  max-width: 500px;
  gap:20px;

}
.foodHeader h1{
  color: white;
  text-align: center;
  font-size: 50px;
}
.foodHeader p{
  color: white;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  text-align: justify;
}

/* parallax */
.parallax {
  background-image: url("./images/food/rujak-cingur.jpg");
  /* Set a specific height */
  min-height: 500px;
  height: 600px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
